#top-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    height: 50px;
    align-items: center;
    padding: 1rem 2rem 1.2rem;
    background-color: white;
    transition: 0.5s ease;
}

#top-nav > a.nav-link {
    color: black;
    font-size: 1.1rem;
    margin-left: 1.5rem;
    line-height: 1.8rem;
}

#top-nav > a:first-of-type {
    margin-left: auto;
}

#top-nav a:active {
    position: relative;
    top: 1px;
}

#top-nav > a.active {
    border-bottom: 3px solid #42b983;
}
