#products-list {
    align-self: center;
}

#products-list #page-header {
    margin-bottom: 1.3rem;
}

#products-list > table {
    width: max-content;
}

#products-list tr {
    vertical-align: top;
}

#products-list tr:nth-last-of-type(2n + 1) > td {
    padding-bottom: 3rem;
    max-width: 30vw;
}

#products-list .img-col {
    padding-right: 2.5rem;
}

.img-col > img {
    padding-bottom: 3rem;
}

#products-list .product-link {
    padding-bottom: 2rem;
}

#products-list .score > span {
    font-weight: 600;
}

#products-list .list-header {
    padding-bottom: 0.5rem;
}

#products-list .pros-list {
    margin-left: 1rem;
    color: cornflowerblue;
}

#products-list .cons-list {
    margin-left: 1rem;
    color: crimson;
}

#products-list .actions {
    text-align: right;
}
