#product .product-info {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

#product .product-info > div {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-template-rows: max-content min-content min-content;
    grid-template-areas: "img name" "img score" "img actions";
    column-gap: 2rem;
    row-gap: 0.2rem;
}

#product .product-image {
    grid-area: img;
}

#product .product-info h2 {
    color: #42b983;
}

#product .product-score > span {
    font-weight: 600;
}

#product .actions {
    margin: auto 0 0 auto;
}

#product #charts {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

#product iframe {
    border: none;
    display: block;
    width: 508px;
    height: 366px;
}

#product h3 {
    margin-bottom: 1rem;
}

#product #table-header {
    display: flex;
    align-items: baseline;
}

#product #filter-button {
    margin-left: auto;
    padding: 0.5rem 1rem 0.7rem;
    height: 2.2rem;
}

#product table {
    display: block;
    overflow-x: auto;
    border-collapse: collapse;
}

#product td, #product th {
    border: 1px solid black;
    padding: 0.3rem;
}

#product tbody > tr:nth-of-type(2n + 1) {
    background-color: rgba(250, 235, 215, 0.4);
}

#product th {
    border: 2px solid #4fc08d;
    border-radius: 20px;
}

#product .sort-button {
    display: flex;
    width: 100%;
    justify-content: center;
    background: none;
    color: #4fc08d;
    font-weight: 800;
}

#product .sort-button[data-curr="r"]::after {
    margin-left: 0.3rem;
    content: "⮟"
}

#product .sort-button[data-curr="y"]::after {
    margin-left: 0.3rem;
    content: "⮝"
}

#product .center {
    text-align: center;
}

#product .no-wrap {
    white-space: nowrap;
}

#product .correct-icon > svg {
    width: 35px;
    height: auto;
}

#product .pros-list {
    color: cornflowerblue;
    padding-left: 1rem;
}

#product .cons-list {
    color: crimson;
    padding-left: 1rem;
}

#product h3 {
    margin-top: 3rem;
}

#product #filters {
    position: fixed;
    top: 100vh;
    left: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    padding: calc(2rem + 50px) 1rem 2rem;
    background-color: rgba(251, 251, 251, 0.5);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s ease-in-out opacity;
}

#product #filters.show-filters {
    opacity: 1;
    top: 0;
    left: 0;
}

#product #close-filters-button {
    background: none;
    padding: 0;
    width: 30px;
    height: auto;
    margin: 0 2rem 0 auto;
}

#product #filters form {
    padding: 1rem 2rem;
    max-width: 85%;
    width: 700px;
    height: 100%;
    overflow-y: auto;
}

#product #filters label {
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

#product #filters input {
    margin-bottom: 2.5rem;
}

#product #filters input {
    background: none;
    border: none;
    font-size: 1.2rem;
    width: 30rem;
    color: #333333;
    border-bottom: 2px solid #7e7e7e;
}

#product #filters input::placeholder {
    text-align: center;
}

#product .radios-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

#product #filters label[for="recommendation-input"] {
    margin-bottom: 1.5rem;
}

#product #filters label[for="purchase-confirmed-input"] {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

#product #filters input[type="radio"] {
    margin-bottom: 1rem;
    width: 25px;
    height: 25px;
}

#product #filters input[type="radio"] + label {
    font-size: 1rem;
    font-weight: 500;
}

#product #score-slider {
    width: 100%;
    margin: 0 auto;
}

#product #filters .double-text-input-container {
    display: flex;
    justify-content: space-between;
}

#product #filters .double-text-input-container > label {
    display: none;
}

#product #filters .double-text-input-container > input {
    width: 45%;
}
